.container{
width:80%;
margin:auto;
text-align:center;
font-family:Arial;
}

.title{
margin:20px;
}

.card{
background:#f4f4f4;
padding:20px;
border-radius:10px;
margin-bottom:30px;
}

input{
margin:10px;
padding:10px;
width:200px;
}

button{
margin:10px;
padding:10px 20px;
border:none;
background:#007bff;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
}

th{
background:#333;
color:white;
}
